
footer.footer
  .content
    .container.footer--container.grid.grid--4--columns
      .brand.flex--col
        p.paragraph.footer--header.footer--header--brand
          | Our Brand
        |             
        a.image--link(href='#')
          img.logo.footer--logo(src='/img/logo/oses-logo-17.png', alt='oses logo')
        |             
        p.paragraph.About-us
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
        |
        ul.lists.social-media-lists.flex
          li.list
            a.button.button--icon.button--social(href='#')
              i.icon.icon--social(data-feather='facebook')
          |               
          li.list
            a.button.button--icon.button--social(href='#')
              i.icon.icon--social(data-feather='instagram')
      |           
      .other--links.flex--col
        p.paragraph.footer--header.footer--header--other--links
          | Navigation
        |             
        nav.footer--nav
          ul.lists.footer--nav--lists
            li.list
              a.link.par--link(href='#') About Us
            |                 
            li.list
              a.link.par--link(href='#') Contact us
            |                 
            li.list
              a.link.par--link(href='#')  Products 
      |           
      .useful--links.flex--col
        p.paragraph.footer--header Useful links
        |             
        nav.footer--nav
          ul.lists.footer--nav--lists
            li.list
              a.link.par--link(href='#') All products
            |                 
            li.list
              a.link.par--link(href='#') Provisions
            |                 
            li.list
              a.link.par--link(href='#')  Cereals and legumes 
            |                 
            li.list
              a.link.par--link(href='#')  flour 
            |                 
            li.list
              a.link.par--link(href='#')  spices 
      |           
      .address.flex--col
        p.paragraph.footer--header Address
        |             
        address.footer--address.flex--col
          p.paragraph new Jersey
          |               
          ul.lists.footer--nav--lists
            li.list
              a.link.par--link(href='#') osesworld@gmail.com
            |                 
            li.list
              a.link.par--link(href='#')  Cereals and legumes 
