/* body size 12, 16, 20, 24, 32
    h1 size 80, 96
    h2 size 48, 64, 
    h3 size 32, 48
    quotes 8, 12
    button size 48
    padding top 24
    padding left 48

    margin 1 :24
    margin 2 : 48

    primary color: #da9d19 #f2ae1c #f9d78e #f7ce77 #fef7e8
    secondary :    #369f43 #3cb14a #9ed8a5 #ecf7ed
   
    
here we can match your class and taste when it comes to epoxy installation.
Do you have high and classic taste when it comes to interior designs.
are you looking to transform your interiors with epoxy installations neatly done by professionals.
we have everuthing it takes to give you the best when it comes to metallic walls, vinyl walls and other installations.
Like our page to see more of our works and contact us to book our service.
https://developer.mozilla.org/en-US/docs/Web/CSS/background-image

for enquiries, contact

https://codebeautify.org/html-to-pug-converter
https://www.cssportal.com/html-to-pug/

*/

/*HINT  always know when a flex container is inside a another grid or flex container with horizontal justify cintent set to center, the size reduces to fir the exact size of its content, to get a full width, explicitly define the width as done below */

:root {
  --primary-color: #f2ae1c;
  --primary-color--darker: #da9d19;
  --primary-color--lighter: #fef7e8;
  --primary-color--mid: #f9d78e;
  --secondary-color: #3cb14a;
  --secondary-color--darker: #369f43;
  --secondary-color--lighter: #ecf7ed;
  --secondary-color--mid: #9ed8a5;
  --shadow--place: -0.2rem 0.2rem 1.4rem 0 #727272;
  --shadow--hover: 0 1rem 3rem 0 #4e4e4e;
  --light-shadow--place: -0.1rem 0.1rem 1.1rem 0 #c4c4c4;
  --light-shadow--hover: 0 0.2rem 2rem 0 #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  border-radius: 1rem;
  /* padding: 1rem 1.8rem; */
  border: 0.1rem solid var(--primary-color);
}

.image--link:focus {
  outline: 0;
  padding: 0;
  border: none;
}
.input:focus {
  outline: 0;
  padding: 0;
  /* border: none; */
}
/* the focus state was disturbing the buton making it smaller due to padding soI had to remove ot from the button */
.button:focus {
  outline: 0;
  padding: 0;
  /* border: none; */
}

html {
  font-size: 65%;
  overflow-x: hidden;
}
body {
  font-family: 'PT Sans', 'Open Sans', 'Poppins', sans-serif;
  background-color: #fff;
  font-weight: 400;
  line-height: 1.5;
  color: #444;
  width: 100%;
  overflow-x: hidden;
}

/* GENERAL */

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 120rem;
  margin: auto;
  padding: 0 1.2rem;
}

.grid {
  display: grid;
  /* grid-auto-columns: 1fr 1fr 1fr 1fr;  when u use this u have to explicitly state the positionsof the grid items on he columns, and u ae free to state any column position ad it will take the 1fr o width stated*/
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 4rem;
  row-gap: 8rem;
  justify-items: center;
}
/* .product--container {
  justify-items: center;
} */

.grid--4--columns {
  grid-template-columns: repeat(4, 1fr);
}

/* redefinin footer grid to look even */
.grid--5--columns {
  grid-template-columns: repeat(5, 1fr);
}

/* .footer--container {
  column-gap: 9rem;
}
.address {
  grid-column: 5/-1;
}
.useful--links {
  grid-column: 3 / 5;
}
.other--links {
  justify-self: end;
} */

/* redefining ends here */

.address {
  justify-self: end;
}
.image {
  max-width: 100%;
}

.user--image--container {
  overflow: hidden;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.button {
  background: none;
  border: none;
}

/* HELPERS */

.hide {
  display: hidden;
}

.hide--again {
  display: none !important;
}
.active {
  padding: 1.2rem 2.4rem;
  background-color: var(--primary-color--mid);
  border-radius: 1rem;
}

.fixed {
  position: fixed;
  box-shadow: var(--light-shadow--place);
  z-index: 100;
  width: 100%;
  background-color: var(--secondary-color--lighter);
  opacity: 87%;
}
/* HEADER */

.main--header {
  padding: 1.2rem 0;
}

.header--container {
  max-width: 130rem;
  /* margin: auto; */
  /* padding: 0 1.2rem; */
}

.header--flex {
  gap: 4.8rem;
}

.nav--container {
  width: 100%;
}

.logo {
  max-width: 16rem;
}
.image--link {
  text-decoration: none;
  height: 0;
  line-height: 0;
  font-size: 0;
}
.lists {
  list-style: none;
}
.nav--lists {
  gap: 4.8rem;
}
.all--buttons .nav--lists {
  gap: 2.4rem;
}

.nav--lists:nth-child(2) {
  gap: 3.6rem;
}
.header--nav {
  justify-content: space-between;
}

.link:link,
.link:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--primary-color);
  transition: all 1s;
}
.link:hover,
.link:active {
  color: var(--primary-color--darker) !important;
}

.link--cta:link,
.link--cta:visited {
  color: #fff !important;
  padding: 1rem 2.4rem;
  border-radius: 50rem;
  background-color: var(--primary-color);
}
.link--cta:hover,
.link--cta:active {
  transform: translateY(-0.6rem);
  background-color: var(--primary-color--darker);
}

.link--outline:link,
.link--outline:visited {
  padding: 1rem 2.4rem;
  border-radius: 50rem;
  border: var(--primary-color) solid 0.1rem;
  /* transition: all 1s; */
}
.link--outline:hover,
.link--outline:active {
  transform: translateY(-0.6rem);
  border-color: var(--primary-color--darker);
}

.list--cta {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: space-between;
}

.all--buttons {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.list--cta .button--cart {
  position: relative;
}
.cart--number--container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  top: 0;
  left: 0;
  border-radius: 50rem;
  transform: translate(-1.3rem, -1.3rem);
  background-color: var(--secondary-color);
}

.cart--number {
  color: #fff;
}

.search--container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(130%, 50%);
  width: 30%;
  /* z-index: 100; */
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 0.1rem solid var(--primary-color);
  overflow: hidden;
  border-radius: 50rem;
  padding: 0.4rem;
}
/* .search--container {
  display: flex;
  align-items: center;
  border: 0.1rem solid var(--primary-color);
  overflow: hidden;
  border-radius: 50rem;
  padding: 0.4rem;
} */

.search--input {
  height: 75%;
  width: 90%;
  /* padding: 1rem; */
  text-align: center;
  border: none;
  font-size: 1.6rem;
  font-style: italic;
  background: none;
}

/* MAIN STARTS HERE   */

.hero--container {
  padding: 0 2.4rem;

  /* explicitly definig the height did not work because i am using the container to pad the slier */
}

.slider {
  position: relative;
  /* i habe to expicitly define the heigt because the conente are now floating so relative height like oprentae or auto heigt like max-heiht wont work */
  height: 100vh;
  overflow: hidden;
}

.none {
  transition: none;
}

.slide {
  position: absolute;
  left: 0;
  height: 100%;
  transition: all 1.5s;
}

.dots--container {
  display: flex;
  width: 100%;
  gap: 1rem;
  position: absolute;
  left: 0;
  top: 90%;
  justify-content: center;
  /* transform: translateX(50rem); */
}
.dot {
  /* this is a button */
  width: 0.8rem;
  padding: 0.8rem;
  border: none;
  border-radius: 50rem;
  background-color: var(--secondary-color--mid);
}
.dot--active {
  background-color: var(--secondary-color);
}

.button--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 40;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
}

.button--icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3.6rem;

  height: 3.6rem;
  transition: all 0.8s;
}
.button--chevron {
  border-radius: 50rem;
  background-color: var(--secondary-color);
}
.button--cart {
  border-radius: 1rem;
  border: 0.1rem solid var(--primary-color);
}

.button-plus-minus:hover {
  border-radius: 0;
  background-color: var(--primary-color--darker);
}

.cart--container .button--cart {
  /* border-radius: 1rem; */
  background-color: var(--primary-color);
  /* border-bottom-right-radius: 2rem; */
}

.button--cart:hover {
  transform: translateY(-0.6rem);
}

.icon {
  color: var(--primary-color);
}
.icon-plus-minus {
  color: var(--primary-color);
}
.icon--chevron {
  color: var(--primary-color--lighter);
}
.cart--container .icon--cart {
  color: var(--primary-color--lighter);
  /* stroke-width: 0.2rem; */
}
.icon--chevron {
  width: 3rem;
  height: 3rem;
}
.icon--cart {
  width: 2rem;
  height: 2rem;
}
.hero--cta--container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  left: 0;
  top: 50%;
  z-index: 100;
}

.hero--link--cta:link,
.hero--link--cta:visited {
  box-shadow: -0.5rem 0.5rem 1.6rem 0 #727272;
  font-size: 3rem;
  /* padding: 1rem 3.2rem;
  border-radius: 50rem; */
  background-color: var(--primary-color);
}
.hero--link--cta:hover,
.hero--link--cta:active {
  box-shadow: 0 1rem 3rem 0 #4e4e4e;
}

/* PRODUCT SECTION 




*/

.add-to-cart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.added--to--cart {
  font-size: 1.2rem;
  color: var(--secondary-color--darker);
  max-width: 50%;
}

.button--remove--cart {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 1.2rem;
  background-color: var(--primary-color--darker);
}
.products {
  padding: 14rem 0;
  /* background-color: var(--primary-color--lighter); */
  background: linear-gradient(90deg, var(--primary-color--lighter), #fff);
}

.product--image--container {
  overflow: hidden;
}

.product {
  border: 0.1rem solid var(--primary-color--mid);
  border-radius: 2rem;
  overflow: hidden;
  transition: all 0.8s;
  box-shadow: var(--light-shadow--place);
  background-color: #fff;
  /* height: 60rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr; */
}
.product:hover {
  border: 0.1rem solid var(--secondary-color--mid);
  transform: translateY(-2rem);
  box-shadow: var(--light-shadow--hover);
}

.paragraph {
  font-size: 1.6rem;
}

.product--description--container {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.input--container {
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  border: 0.1rem solid var(--primary-color--mid);
  overflow: hidden;
  /* height: 3.6rem; */
}
.input {
  max-width: 3.6rem;
  /* min-width: 3.6rem; */
  height: 3.6rem;
  border: none;
  background-color: var(--primary-color--lighter);
  /* padding: 1.2rem; */
  text-align: center;
  font-weight: 500;
}
.product--unit--quantity::-webkit-inner-spin-button,
.product--unit--quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart--container {
  justify-content: space-between;
}
/* .category {
  color: var(--secondary-color);
} */
/* .weight {
  color: var(--secondary-color--mid);
  font-weight: 300;
} */
.product-name {
  /* max-width: 50%; */
  font-weight: 550;
  color: var(--secondary-color);
}
.price {
  /* font-size: 2rem; */
  font-weight: 700;
  color: var(--primary-color);
}
.price--effect {
  font-size: 2.4rem;
  letter-spacing: 0.1;
  font-style: italic;
  transition: all 15s;
}

.category--header {
  grid-column: 1/-1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
}
.secondary--header {
  color: var(--primary-color);
  font-size: 3.6rem;
  letter-spacing: 0.01rem;
}

.category--list-container {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  /* padding:0 2rem;
  padding-bottom: 2rem; */
}
/* .tertiary--header {
  color: var(--secondary-color);
  font-size: 1.6rem;
} */
.link--category:link,
.link--category:visited {
  color: var(--secondary-color);
}
.link--product--name:link,
.link--product--name:visited {
  color: var(--secondary-color);
}

.product--container {
  margin-bottom: 4rem;
}

.page--container {
  display: flex;
  justify-content: center;
  gap: 6.4rem;
  /* text-align: center; */
}
.page--container .paragraph {
  color: #fff;
}
.page--container .button--icon {
  /* max width its flexible mens it xan keep growing till that width either wih content or resize */
  width: 10rem;
}

.page--link {
  text-decoration: none;
}
.page--link:hover,
.page--link:active {
  background-color: var(--primary-color--darker);
}

/* 

FOOTER SECTION

*/

.footer {
  padding: 9.6rem 0;
  background-color: #04380a;
}

/* i have to join 2 selectors to give it a higher rank */
.footer .paragraph,
.link.par--link {
  color: rgb(189, 189, 189);
}
.button--social {
  border: 0.1rem solid var(--primary-color--lighter);
  border-radius: 1rem;
}
.icon--social {
  color: var(--primary-color--lighter);
  /* stroke-width: 0.1rem; */
}
.social-media-lists {
  gap: 2rem;
}
.flex--col {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.footer--header {
  font-size: 2.4rem;
  font-weight: 700;
}
.footer--nav--lists {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer--address .footer--nav--lists {
  gap: 1rem;
}
/* MOBILE NAVE\ */
.mobile--close {
  display: none;
}
.mobile--nav--button--container {
  display: none;
}

.footer .image--link {
  display: inline-block;
  height: fit-content;
}

/* additives */

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.total .tertiary--header {
  color: var(--secondary-color--darker);
  font-size: 2rem;
}

.alert {
  padding: 1.2rem 0;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
}
.alert--success {
  background-color: var(--secondary-color);
}
.alert--error {
  background-color: red;
}

/* QUERIES */

/* MEDIA QUERY */

/* tablet */

@media (max-width: 50em) {
  html {
    font-size: 55%;
  }

  .container {
    max-width: 95rem;
  }

  .mobile--nav--button--container {
    display: block;
    z-index: 100;
  }

  .header--logo__container {
    z-index: 200;
  }

  .header--container {
    padding: 0rem 4rem;
    justify-content: space-between;

    /* u have to make it position relative so overflow x hidden can work */
    position: relative;
  }
  .header--flex {
    gap: unset;
  }

  .link--outline:link,
  .link--outline:visited {
    padding: 0.4rem 1.2rem;
    border-radius: 50rem;
    border: var(--primary-color) solid 0.1rem;
    /* transition: all 1s; */
  }

  .link--cta:link,
  .link--cta:visited {
    color: #fff !important;
    padding: 0.4rem 1.2rem;
    border-radius: 50rem;
    background-color: var(--primary-color);
  }

  .nav--container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    top: 0%;
    /* is advised to change the left, so the actual position is not reached again when scroed down, i found this bug as the reason why the position from left is prefereeed and not fromtop */
    left: 100%;
    background: #04380a;
    width: 100%;
    z-index: 100;
    /* the concept of using opacity to hide element is to allow for animation as display none doesnt allow it, but then to have the same effect like display none
and make it appear like the elelemnt is really not on the screen follow the next steo properties like poinnter events and visibility
to completely prevent any detetction of the elelemnt whose opacity is set to zeo and might have been detetcted ordinarily */

    opacity: 0;
    /* visibility id to prvent screnn reaad*/
    visibility: hidden;
    /* unnacessible to mouse and keyboard */
    pointer-events: none;
    height: 100vh;

    transition: all 1.5s ease-in-out;
  }

  .header--nav {
    padding-top: 12rem;
    flex-direction: column;
    gap: 3rem;
  }

  /* GAps not sshowing have to use marfin but later showed because error is from my phone*/

  .nav--lists {
    /* flex-direction: column; */
    gap: 3rem;
  }

  /* .list--cta {
    flex-direction: column;
    gap: 3rem;
  } */

  /* make sure all of them are inheriting the modifier class one time when manipulating the dom like this. */

  .open .nav--container {
    opacity: 93%;
    /* visibility id to prvent screnn reaad*/
    visibility: visible;
    /* unnacessible to mouse and keyboard */
    pointer-events: auto;
    left: 0%;
    backdrop-filter: blur(4rem);
  }
  .open .mobile--close {
    display: block;
  }

  .open .mobile--menu {
    display: none;
  }

  .paragraph {
    font-size: 1.2rem;
  }

  .cart--options .price--effect {
    font-size: 1.6rem;
  }
}

/* second size option */

@media (max-width: 40em) {
  *:focus {
    padding: 0.24rem 0.8rem;
  }

  html {
    font-size: 50%;
  }

  .hero--link--cta:link,
  .hero--link--cta:visited {
    box-shadow: -0.5rem 0.5rem 1.6rem 0 #727272;
    font-size: 2rem;
    background-color: var(--primary-color);
  }

  .main--header {
    padding: 0;
  }

  .container {
    margin: auto;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .header--container {
    max-width: 100%;
    padding: 0 1.2rem;
  }
  .active {
    background-color: #fff;
    padding: 0.2em 1.2rem;
  }

  .slider {
    /* max-height: 20%;
    height: 60rem; */
    /* max heigt is overwritten by height */
    height: calc(100vh / 2.5);
  }

  .dots--container {
    top: 90%;
  }

  .button--container {
    top: 50%;
  }

  .hero--cta--container {
    top: 50%;
  }

  .products {
    padding: 4.8rem 0;
  }
  .product--container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.6rem;
  }

  .product--description--container {
    width: 50%;
  }
  .product--image--container {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .product {
    display: flex;
    flex-direction: row;
    border-radius: 0;
  }

  .category--list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    padding: 0 2rem;
    padding-bottom: 2rem;
    gap: 1.2rem;
    width: 100%;
  }

  .category--header {
    background-color: #04380a;
    gap: 2rem;
    margin-bottom: 1.2rem;
    padding-top: 1.2rem;
    width: 100%;
  }

  .header--nav {
    gap: 3rem;
  }

  .nav--lists {
    gap: 3rem;
  }
  .list--cta {
    gap: 1.6rem;
  }

  .secondary--header {
    color: #fff;
    font-size: 2.4rem;
  }

  .link--category:link,
  .link--category:visited {
    color: var(--primary-color);
    font-size: 1.4rem;
  }

  .cart--container {
    grid-column: 1/-1;
    justify-content: flex-start;
    gap: 3.2rem;
  }

  .input--container {
    border-radius: 0.6rem;
  }
  .input {
    font-size: 1.2rem;
  }

  .icon-plus-minus {
    height: 2rem;
    width: 2rem;
  }

  .search--container {
    box-shadow: var(--light-shadow--place);
    z-index: 100;
    transform: translate(0%, 100%);
    width: 100%;
    display: flex;
    align-items: center;
    border: 0.1rem solid var(--primary-color);
    overflow: hidden;
    border-radius: 0rem;
    padding: 0.4rem;
    background-color: var(--primary-color--lighter);
  }

  .footer--container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 4rem;
  }

  .address {
    justify-self: unset;
    padding-right: 2rem;
  }

  .other--links {
    padding-left: 2rem;
  }

  .checkout--side__element .paragraph {
    font-size: 1.6rem;
  }
}

/* third size option */

@media (max-width: 27.5em) {
  html {
    font-size: 20%;
  }
  .paragraph {
    font-size: 1.2rem;
  }

  .link:link,
  .link:visited {
    font-size: 1.2rem;
  }

  .cart--container {
    gap: 1.6rem;
  }

  .logo {
    max-width: 12rem;
    /* height: 6rem; */
  }

  .footer {
    padding: 4.8rem 0;
  }

  .footer--container {
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
  }
  .brand {
    grid-column: 1/-1;
    padding: 0 2rem;
    gap: 1.2rem;
  }

  .footer--header {
    font-size: 1.6rem;
  }

  .footer .image--link {
    display: inline-block;
    height: fit-content;
  }
}
